<ion-view view-title="Accueil">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="item item-divider">Geo<b>Leap</b><br /></div>
        <div class="item item-body">
            <div>
                                <ul>
                    <li>&#149; le vtt</li>
                    
                </ul>
                <br />
                <img class="img-responsive" ng-src="img/parcours.jpg" width="100%" height="100%" />
                <br />
               
            </div>
            <a href="https://play.google.com/store/apps/details?id=fr.batchass.geoleap">
                <img alt="Get it on Google Play"
                     src="https://developer.android.com/images/brand/fr_generic_rgb_wo_45.png" />
            </a>
        </div>
    </ion-content>
</ion-view>
