<ion-view view-title="A propos">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="item item-divider">Geo<b>Leap</b> <br />version 0.1.151030</div>
    <div class="item item-body">

      Développé par l' <b>équipe GeoLeap</b>.
      <br />
      Ont participé au développement:
      <ul>
        <li>
          &#149; <b>Bastien MAUREILLE</b>, développeur
        </li>
        <li>
          &#149; <b>Gaspard PERROT</b>, développeur
        </li>
        <!--<li>
          &#149; <b>Christophe VESTRI</b>, développeur (http://www.3DVTech.com/)
        </li>-->
        <li>
          &#149; <b>Bruce LANE</b>, développeur (http://www.batchass.fr/)
        </li>
        <li>
          &#149; <b>Noufissa (communication)</b>
        </li>
        <li>
          &#149; <b> Stéphane (marketing)</b>
        </li>
        <li>
          &#149; <b>Fabrice LEBAT (facilitator)</b>
        </li>

      </ul>
      <br />
      <br />
      <img class="img-responsive" ng-src="img/parcours.jpg" width="100%" height="100%" />
      <br />
      <span>Informations techniques:</span>
      <ul class="apropos-techinfo-list">
        <li><span id="infoBrowser" ng-bind="infoBrowser"></span></li>
        <li><span id="infoPlatform" ng-bind="infoPlatform"></span></li>
        <li><span id="infoOnline" ng-bind="infoOnline"></span></li>
        <li><span id="infoSize" ng-bind="infoSize"></span></li>
        <li><span id="infoUsermedia" ng-bind="infoUsermedia"></span></li>
        <li><span id="infoPps" ng-bind="infoGps"></span></li>
      </ul>

    </div>
  </ion-content>
</ion-view>
